.carousel
{
  padding-top: 4em;
}

.carousel-item
{
  width:100%;
  max-height: 40em !important;
  height: 40em;
  max-height: 225px;
}

.carousel-item:after
{
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
}

.carousel-item h5
{
  color: white;
}
